.dark {
    @mixin dark {
        fill: var(--mantine-color-white);
    }

    @mixin light {
        fill: var(--mantine-color-white);
    }
}

.light {
    @mixin light {
        fill: var(--mantine-color-black);
    }

    @mixin dark {
        fill: var(--mantine-color-white);
    }
}

.cls-1 {
    fill: #00f6ff;
}

.logo {
    height: 100%;
}

.overdiv {
    margin: auto;
    display: flex;

    @mixin light {
        fill: var(--mantine-color-black);
    }

    @mixin dark {
        fill: var(--mantine-color-white);
    }
}